.header {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJLTyWvEgCp86491Yib7ED7Nx8SGvpP8CsMYT_IPgLYwilHSwmdw');
  background-repeat: inherit;
  width: 100%;
  margin-bottom: 0;
  font-family: 'Copse', serif;
  background-size: 100% 100%;
  height: 100%;
}

h1 {
  font-size: 1.4em;
}

.nav {
  text-align: ;
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  font-size: 0.8em;
  padding-bottom: 0;
}
